header {
    padding-left: 15%;
    display: flex;

    background-color: #1f2937;
    flex-direction: column;
}

.upperheader {
    text-decoration: none;
    display: flex;
    gap: 50%;
}

.headerlogo {

    font-size: 24px;
    color: #F9FaF8;
}

.headerlinks {
    color: #F9FaF8;
    

}

.miniflex {

    display: flex;
    gap: 5%;
    

}

.herotext {
    color: #F9FaF8;
}