@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

.firstflex {
    display: flex;
    justify-content: center;
    box-sizing: border-box;

}

.firstcontent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3%;
    padding-top: 2%;
    background: darkcyan;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    gap: 38%;
    box-sizing: border-box;
}

.header a:link {
    text-decoration: none;
    color: #F9FAF8;
}

.header a:visited {
    text-decoration: none;
    color: #F9FAF8;
}

.header-logo {
    font-size: 36px;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;

}

.header-nav {
    display: flex;
    list-style: none;
    gap: 3%;
    color: ghostwhite;
    font-size: 28px;
    flex: 1 0 auto;


}

.hero {
    display: flex;
    padding-top: 10%;
    justify-content: center;
    gap: 20%;
}

.hero-text {
    flex: 1 1 0;
    color: hsl(0, 0%, 92%);
    font-size: 18px;
}

.hero-text h2 {
    font-size: 48px;
    flex: 1 1 0;
    font-weight: 600;
    color: white;
}

.hero-signup {
    border: 0;
    margin-top: 1%;
}

.hero-image {

    flex: 1 1 0;
    display: flex;
    justify-content: center;
    border-radius: 7px;
}

.hero-image img {
    object-fit: cover;
    max-width: 400px;
    border: 2px solid white;
    border-radius: 7px;
}

.secondflex {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.secondcontent {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3%;
    padding-top: 2%;

    box-sizing: border-box;
}

.secondflex-content {

    padding-top: 4.3%;
    margin-bottom: 9.5%;

}

.contentheadline h3 {
    font-size: 64px;
    color: rgb(69, 169, 236);
    padding-bottom: 3%;
}

.secondflex-content a:link {
    text-decoration: none;
    color: darkblue;
    margin-left: 10%;
    font-size: 32px;
}

.secondflex-content a:visited {
    text-decoration: none;
    color: darkblue;
}

.contentheadline2 h3 {
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    padding-bottom: 5%;
    color: rgb(69, 169, 236);
    font-size: 150px;

}

.images {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
   
}

.image-then-text {
    display: flex;
    flex-direction: column;
    max-width: 170px;
    text-align: center;
    list-style: none;
    flex: 1 1 0;
}

.itemtext {
    margin-top: 5%;
    font-size: 24px;
}


.bear-icon {
    width: 170px;
    height: 170px;
    border: 6px solid rgb(69, 169, 236);
    border-radius: 7px;
    box-shadow: 0 10px 15px rgb(41, 106, 149);
    object-fit: cover;
    transition: 0.3s;
}
.images a:hover img{
    transform: scale(1.05);
    box-shadow: 0 0 30px rgb(25, 11, 107)
}


.thirdflex {
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkcyan;

}

.thirdcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    color: ghostwhite;
    padding-left: 20%;
    padding-right: 20%;
}

.thirdcontent h3 {
    font-size: 48px;
}

.thirdcontent h4 {
    font-size: 36px;
    margin-left: 65%;
}

.fourthflex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.fourthcontent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 100px;
    border-radius: 7px;
    background-color: #6acde6;
    gap: 15%;
}


.fourthcontenttext h4 {
    font-size: 24px;
    color: ghostwhite;
}

.fourthcontenttext h5 {
    font-size: 18px;
    color: ghostwhite;
}

#signup {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    background-color: #6acde6;
    border-radius: 7px;
    color: white;
    transition: 0.3s;
}
#signup:hover {
    background-color:rgb(25, 11, 107);
}
#signup:focus{
    background-color: #6acde6;
}

.signupbox {
    border: 2px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    background: darkcyan;
    font-size: 24px;
    color: ghostwhite;
    padding: 0.25%;
}




.tooltipmiddle {
    position: relative;
}

.tooltipmiddle:before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    transform: translateX(3%);
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    background: darkcyan;
    color: #fff;
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: 0.3s opacity;

}

.tooltipmiddle:hover:before {
    display: block;
    opacity: 1;
}