header {
    padding-left: 15%;
    display: flex;

    background-color: #1f2937;
    flex-direction: column;
}

.upperheader {
    text-decoration: none;
    display: flex;
    gap: 50%;
}
.mediumheader {
    display:flex;
    
    
}

.submediumheader{
    display:flex;
    flex-direction: column;
    
}

.headerlogo {

    font-size: 24px;
    color: #F9FaF8;
}

.headerlinks {
    color: #F9FaF8;
    

}

.miniflex {

    display: flex;
    gap: 5%;
    align-items: center;
    

}

.herotextmain {
    color: #F9FaF8;
    font-size: 48px;
    font-weight: bold;

}

.herotextsecond{
 font-size: 18px;
 color: #E5E7EB;
}